@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 100vh;
}

html, body {
  overflow-x: clip;
}

:root {
  --sl-color-bg: black;
}
