---
import MainLayout from "@src/layouts/MainLayout.astro";
import {
  IntroSection,
  TutorialsSection,
} from "@src/sections/dev-hub";
---

<MainLayout>
  <div class="bg-black">
    <IntroSection client:load />
    <TutorialsSection client:load />
  </div>
</MainLayout>
