---
import MainLayout from "@src/layouts/MainLayout.astro";
import {
  IntroSection,
  ExploreSection,
  GradientBG,
} from "@src/sections/ecosystem";
---

<MainLayout>
  <div class="bg-black">
    <IntroSection client:load />
    <ExploreSection client:load />
    <GradientBG client:load />
  </div>
</MainLayout>
