---
import MainLayout from "@src/layouts/MainLayout.astro";
import {
  IntroSection,
  LeadingFeaturesSection,
  MetricsSection,
  CoreOverviewParallaxSection,
  StoreAssetsSection,
  ExploreSection,
  CreateYourOwnSection,
  NetworksSection,
  BecomePartnerSection,
  JoinCommunitySection
} from "@src/sections/home";
---

<MainLayout>
  <div class="bg-black">
    <IntroSection client:load />
    <LeadingFeaturesSection client:load />
    <MetricsSection client:load />
    <CoreOverviewParallaxSection client:load />
    <StoreAssetsSection client:load />
    <ExploreSection client:load />
    <CreateYourOwnSection client:load />
    <NetworksSection client:load />
    <BecomePartnerSection client:load />
    <JoinCommunitySection client:load />
  </div>
</MainLayout>
