---
import MainLayout from "@src/layouts/MainLayout.astro";
import { FixedBottomGradient } from "@src/components";
import {
  IntroSection,
  CoreAdvantages,
} from "@src/sections/more-about-core";
---

<MainLayout>
  <div class="bg-black">
    <IntroSection client:load />
    <CoreAdvantages client:load />
    <FixedBottomGradient client:load />
  </div>
</MainLayout>
