$cube-color: #ccc;
$cube-size: 100px;
$animation-duration: 1.2s;

@keyframes animate-cubeshift-color {
  0%, 100% {
    background: $cube-color;
  }
  33% {
    background: lighten($cube-color, 8%);
  }
  66% {
    background: lighten($cube-color, 16%);
  }
}

.animate-cubeshift-logo {
  position: relative;
  height: $cube-size * 2;
  width: $cube-size * 1.8;
  
  &.animate-cubeshift-animate span {
    animation: animate-cubeshift-color $animation-duration infinite;
    
    &:nth-child(2) {
      animation-delay: -$animation-duration / 3 * 2;
    }
    
    &:nth-child(3) {
      animation-delay: -$animation-duration / 3;
    }
  }
}

.animate-cubeshift-cube {
  position: absolute;
  top: 50%;
  left: 50%;
  
  &:nth-child(2) {
    transform: rotate(180deg) scale(0.5);
  }
  
  span {
    transform-origin: 0 0;
    position: absolute;
    height: $cube-size;
    width: $cube-size;
    
    &:nth-child(1) {
      transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
      background: lighten($cube-color, 16%);
    }
    
    &:nth-child(2) {
      transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
      background: $cube-color;
    }
    
    &:nth-child(3) {
      transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
      background: lighten($cube-color, 8%);
    }
  }
} 
